<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>  	
	<meta charset="ISO-8859-1" />
		<title>Aggiungi piatti</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head> 

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>	
	<div id="container">
		<div id="section">
			<div>
				<div>
					<h1 th:text="${buffet.nome}">Buffet</h1>
					<div>Descrizione: <span  th:text="${buffet.descrizione}">Descrizione</span></div>
				</div>	
				<div class="section-item" th:if="${!buffet.piatti.empty}"><strong>Piatti presenti nel buffet:</strong>
					<ul>
						<li th:each="piatto: ${buffet.piatti}">
							<a href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}"
							   th:text="${piatto.nome}">Piatto</a>
						</li>	   	
					</ul>
				</div>
				
				<div class="section-item" th:if="${!piattiAssenti.empty}"><strong>Vuoi aggiungere uno dei seguenti piatti al buffet?</strong>
					<ul>
						<li th:each="piatto: ${piattiAssenti}">
							<a href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}"
							   th:text="${piatto.nome}">Piatto</a>
							<a href="#" th:href="@{'/admin' + '/buffet' + '/' + ${buffet.id} + '/' + ${piatto.id}}">
							<span id="select">Aggiungi al buffet</span></a>
						</li>	   	
					</ul>
				</div>
				<div>
					<a class="section-item" id="button" href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}">Conferma</a>
				</div>
			</div>
			<img src="/images/chef.jpg"></img>
		</div>
	</div>

</body>

</html>