<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Inserimento chef</title>
		<link rel="stylesheet" th:href="@{/css/form.css}"/>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">		
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo3"></div>
	
		<div id="text">
			<form id="form" th:action="@{/admin/chef}" method="POST" th:object="${chef}">
				<div><h3>Inserisci un nuovo chef</h3></div>
				<div th:if="${#fields.hasGlobalErrors()}">
				    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
				</div>
				<div class="form-item">
					<div>Nome: </div>
					<div><input type="text" th:field="*{nome}" required/></div>
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				
				<div class="form-item">
					<div>Cognome: </div>
					<div><input type="text" th:field="*{cognome}" required/></div>
					<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>	
				</div>
				
				<div class="form-item">
					<div>Nazionalità: </div>
					<div><input type="text" th:field="*{nazionalita}" required/></div>
					<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
				</div>
				
				<div class="button">
					<button type="submit">Conferma</button>
				</div>
				
			</form>
		
		</div>
	</body>

</html>