<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
		<title>Buffet</title>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">   
	</head> 

	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		
		<div id="container">
			<div><h1>Seleziona un buffet da eliminare</h1></div>
			<div id="section">
				<ul id="elenco">
					<li th:each="buffet: ${buffets}">
						<span>
							<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}"
					   		th:text="${buffet.nome}">Buffet 1</a>
					   		<a th:href="@{'/admin' + '/removeBuffet' + '/' + ${buffet.id}}"><span id="select">Rimuovi</span></a>
					   	</span>
					</li>	   	
				</ul>
				<img src="/images/chef.jpg"></img>
			</div>
		</div>
	</body>

</html>