<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Ingrediente</title>    
	</head> 

	<body>
	<header> 
		<div><strong>Dettagli ingrediente</strong></div>
	</header>
	
	<div>
			<div><strong>Nome: </strong>
			<span th:text="${ingrediente.nome}">Ingrediente</span></div>
			<div><strong>Origine: </strong>
			<span th:text="${ingrediente.origine}">Origine</span></div>
			<div><strong>Descrizione: </strong>
			<span th:text="${ingrediente.descrizione}">Descrizione</span></div>
	</div>

	<div>
		<a href="/"><strong>Home</strong></a>
	</div>
	</body>

</html>